

<div class="container my5">
  <div class="row justify-content-center my-5">
    <div class="col-md-10">
      <a href="/create" class="btn btn-sm btn-primary mb-3">Add new product</a>
      <div class="card">
        <div class="card-body">

         <h1 class="profile">Student Profile View</h1>

         <div class="profile">
          <div class="row">
            <div class="student-details">
            <img src="/product/<%= product.photo %>" alt="">
            <h1>Name : <%= product.name %></h1>
            <h1>Age : <%= product.age %></h1>
            <h1>Age : <%= product.skill %></h1>
            <h1>Age : <%= product.gender %></h1>
            
           </div>

           <div class="student-details">
           <h1 class="Contact">Contact</h1>
           <h1 class="email"> Email : <%= product.email %></h1>
           <h1 class="Phone"> Phone : <%= product.phone %></h1>
           </div>

         </div>
         </div>

        </div>

      </div>
    </div>
  </div>
</div>




